/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

html {
    font-size: 4px; /* Adjust for REM */
	line-height: 1;
    
     border-top-style: solid;
    border-top-width: 6px;
    border-top-color: #E62C85;
}

body {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 6.672503636337959%;
}

header {
    padding: 7.5rem 0 8.875rem 0;
    
    display: flex;
    align-items: center;
}

.logo {
    width: 7.741935483870968%;
    padding-right: 4.838709677419355%;
}

.hero {
    padding-bottom: 4.25rem;
}

form {    
    display: flex;    
    padding-bottom: 8.25rem;
}

input {
    width: 65%;
    
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.625rem;
    line-height: 3.125rem;
    color: #737373;
    
    border-radius: 100px;
    
    padding: 1.86875rem 0% 1.86875rem 4.838709677419355%;
}

input::placeholder {
    color: #737373;
}

.signup {
    width: 30%;
    border: none;
    background-color: #E62C85;
    
    border-radius: 100px;
    
    margin-left: 5%;
}

button p {
    color: #ffffff;
}

button:hover {

}

.compare {
    text-align: center;
}

.newsletter {
    text-align: center;
    padding-bottom: 4.25rem;
}

footer {
    display: flex;
    align-items: center;
}

.footer {
    padding-bottom: 7.5rem;
    margin: 0 12.58064516129032%;
}

/* Text Styles */

li {
    list-style: none;
    display: inline;

    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #4a4a4a;
    
    text-decoration: underline;
}

p {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.625rem;
    line-height: 3.125rem;
    color: 	#4a4a4a;
    
}

h1 {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.625rem;
    line-height: 3.125rem;
    color: #212121;
    
    padding-bottom: 3.75rem;
}

h2 {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 3.125rem;
    color: #212121;
    
    text-decoration: underline;
}

h4 {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #737373; 
    
    padding: 1.59rem 0;
}

h6 {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #212121;
}
