/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

html {
    font-size: 16px; /* Adjust for REM */
	line-height: 1;
}

body {
    max-width: 350px;
    margin: 0 auto;
    padding: 0 5.714285714285714%;
}

header {
    padding: 1.0625rem 0 1.0625rem 0;
    display: flex;
    align-items: center;
}

.logo {
    width: 4.571428571428571%;
    margin: 0 2% 0 0%; /* -6.5% */
}

.hero {
    padding: 4.5rem 0 2.751rem 0;
}

form {    
    display: flex;   
    padding-bottom: 5rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E62C85;
}

input {
    width: 65%;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 2.25rem;
    color: #737373;
    border-radius: 100px;
    padding-left: 5%;
}

input::placeholder {

}

.signup {
    width: 30%;
    border: none;
    background-color: #E62C85;
    border-radius: 100px;
    margin-left: 5%;
}

button p {
    color: #FFFFFF;
}

button:hover {
    border: 1px;
    border-style: solid;
    border-color: #E62C85;
    background-color: #FFFFFF;
    transition: color .2s ease-out, background-color .2s ease-out, border .2s ease-out;
}

button p:hover {
    color: #E62C85;
}

.comparison {
    text-align: center;
    padding-top: 5rem;
}

.comparison iframe {
    padding-bottom: 1.3755rem;
    border-top-style: solid;
    border-top-width: 6px;
    border-top-color: #E62C85;
}

iframe {
    width: 100%;
    height: 210px;
}

.newsletter {
    text-align: center;
    padding-bottom: 2.751rem;
}

footer {
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.footer {
    padding-bottom: 5rem;
}

/* Text Styles */

a {
    text-decoration: none;
}

a:hover {
    color: #E62C85 !important;
    text-decoration: underline;
}

a:visited {
    color: #4A4A4A ;
}


p {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 2.25rem;
    color: 	#4A4A4A;
    
}

h1 {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.4375rem;
    line-height: 2.25rem;
    color: #212121;
    padding-bottom: 1.3755rem;
}

h3 {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #737373; 
    padding: 1.3755rem 0;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #212121;
    text-decoration: underline;
   
}

h6 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    color: #212121;
}

/* Desktop rRules */

@media only screen and (min-width: 751px) {

    body {
        max-width: 1200px;
    }
    
    .first {
        width: 44%;
        float: left;
    }
   
     form {
        border-bottom-style: none;
    }
    
    .comparison {
        width: 56%;
        margin-left: 50%;
        padding-top: 5rem;
    }
    
    iframe {
        width: 46.4%;
        height: 210px;
    }
    
    .newsletter {
        width: 100%;
        padding: 10rem 0;
        margin: 5rem 0;
        text-align: center;
        background-color: #E62C85;
    }
    
    .newsletter p {
        color: #FFFFFF;
    }
    
    .newsletter a {
        color: #FFFFFF;
    }
    
    .newsletter a:hover {
        color: #FFFFFF !important;
        text-decoration: underline;
    }
    
    footer {
        padding-top: 0rem;   
    }
    
    .footer {
        float: left;
    }
    
    ul {
        display: inline-block;
    }
    
    .hide {
        display: none;
    }

}
